body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://nsmbhd.net/file/gLFg74XcdoKUBO7Z/super-mario-bros-platform-game-on-a-green-screen-background_vys_zen4g__F0000.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  height: 20%;
  position:absolute;
}
.ghostDancer{
}
.popDancer{
}